/* website controller  */

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600&display=swap");

* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
}

body {
  max-height: fit-content;
  background-attachment: fixed;
  background-position: center;
  overflow-x: hidden;
}

/* end  */

/* header section star  */
.header-icon{
    width: 46px;
    height: 46px;
}
.scholarship{
    border: 2px solid #104463;
    
}
.header {
  padding: 12px 6.5%;
}

/* end */

/*  what we do start  */

  

  
  /* what we do end  */

  
